<div id="day04">
    <h1>Class 4 (30/06)</h1>
    <h2>Game about metacognition</h2>
    <p>In this class we played a cardboard puzzle game. We were divided into six groups with some cards. After each round, we would pass the cards to the next group. They had shapes, sizes and text. The main objective of the game is to discover the number of total pieces, but we needed to find the rules and patterns of the cards.</p>
    <p>Basically, everyone discussed about how they solved the puzzle and in wich ways they did it. It was a funny class, not gonna lie.</p>






</div>
