<div id="day02">
    <h1>Class 2 (02/06)</h1>
    <h2>Drawing about Lingua Franca</h2>
    <p>In that class, we started an activity about lingua franca, to show our understanding of the concept. We needed to draw and paint it.</p>
    <p>So I thought: Lingua Franca = Global, so let's draw Earth! Then I drew a phone with an instagram comment section to represent an actual example of Lingua Franca, because in there, people understand and talk to each other like friends, but they live in any part of the globe. We have a lot of slang and new catchfrases that everyone knows about it </p>

    <img src="" alt="Desenho sobre Lingua Franca">

</div>
