<section class="day2-card">
  <div class="day2-hero">
    <h1>Class 2 (19/05)</h1>
    <h2>Drawing about Lingua Franca</h2>
  </div>

  <p class="day2-text">
    In that class, we started an activity about lingua franca, to show our understanding of the concept. 
    We needed to draw and paint it.
  </p>

  <p class="day2-text">
    So I thought: Lingua Franca = Global, so let's draw Earth! Then I drew a phone with an instagram comment 
    section to represent an actual example of Lingua Franca, because in there, people understand and talk to 
    each other like friends, but they live in any part of the globe. We have a lot of slang and new catchphrases 
    that everyone knows about it.
  </p>

  <figure>
    <img src="assets/img/lingua-franca.jpg" alt="Desenho sobre Lingua Franca" class="day2-img">
    <figcaption class="day2-caption">Drawing about Lingua Franca</figcaption>
  </figure>

  <p class="day2-text">
    And after that, we watched a video "A Second Soul: Love as the World's Lingua Franca" 
    to take some inspiration and to discuss about it.
  </p>

  <div class="day2-video">
    <iframe width="700" height="400" src="https://www.youtube.com/embed/FlYX1GmOMaM?si=HpqHS-YMeT1tGJ0e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  </div>
</section>
