<div id="day03">
    <h1>Class 3 (09/06)</h1>
    <h2>Metacognition</h2>
    <p>In the third class, we talked about metacognition, which means thinking about how we learn. The teacher showed us a graph with different types of English learners: people who only read in English, people who listen, and people who also speak and write. The graph showed that the more skills you use (like speaking, listening, reading, and writing), the faster and better you can learn English. It helped us understand that practicing in different ways can improve our learning.</p>
    
    <p>After that, we watched a video about why being bilingual is good for your brain.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/nzHY-muy2Mw?si=XkNjE_xQCHMJueI2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p>Finishing class, we were divided into groups and started making a mind map about future tenses.</p>
</div>
