<div id="day03">
    <h1>Class 3 (09/06)</h1>
    <h2>Metacognition</h2>
    <p>In the third class, we talked about metacognition, which means thinking about how we learn. The teacher showed us a graph with different types of English learners: people who only read in English, people who listen, and people who also speak and write. The graph showed that the more skills you use (like speaking, listening, reading, and writing), the faster and better you can learn English. It helped us understand that practicing in different ways can improve our learning.</p>
    

    <!--Lembrar de pedir Video ted talks pra botar um iframe-->

</div>
